.bordered {
  border: 2px solid #73FF80;
}

body {
  max-width: 1024px;
  margin: auto;
}

.row {
  min-height: 520px;
}

#sidebar {
  display: inline-block;
  float: left;
  width: calc(18% - 12px);
  height: 100%;
  padding: 4px;
}

#main-panel {
  display: inline-block;
  float: left;
  width: calc(82% - 12px);
  border-right: 2px solid #73FF80;
  height: 100%;
  padding: 4px;
}

.die {
  height: 3em;
  width: 3em;
  border: 1px solid black;
  margin: 3px;
  display: table-cell;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
}

.active-die {
  background-color: #C0FF67;
}

.used-die {
  background-color: gray;
}

.pip-row {
  display: inline-block;
}

.pip {
  display: inline-flex;
  height: 200px;
  width: 40px;
  border: 1px solid black;
  -webkit-user-select: none;
}

.pip.red {
  background-color: chocolate;
}

.pip.white {
  background-color: white;
}

.bar {
  padding: 0px 20px;
  display: inline-block;
  width: 124px;
  position: relative;
  top: 20px;
}

.pips {
  display: inline-block;
}

.btn {
  padding: 4px;
  background-color: chocolate;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: peru;
}
