.bordered {
  border: 2px solid #73FF80;
}

.row {
  min-height: 520px;
}

#sidebar {
  display: inline-block;
  float: left;
  width: calc(18% - 12px);
  height: 100%;
  padding: 4px;
}

#main-panel {
  display: inline-block;
  float: left;
  width: calc(82% - 12px);
  border-right: 2px solid #73FF80;
  height: 100%;
  padding: 4px;
}

.die {
  height: 3em;
  width: 3em;
  border: 1px solid black;
  margin: 3px;
  display: table-cell;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
}

.active-die {
  background-color: #C0FF67;
}

.used-die {
  background-color: gray;
}

.pip {
  display: inline-flex;
  height: 200px;
  width: 40px;
  border: 1px solid black;
}

.pip.red {
  background-color: brown;
}

.pip.white {
  background-color: white;
}
