border-color = gray;
active-die-color = #288F49;
used-die-color = gray;
dark-pip-color = #A9464D;
dark-pip-color = #F5B159;

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.brand {
  margin: 24px;
}

.bordered {
  border: 2px solid border-color;
}

body {
  background-image: url('/images/background.png');
}

.content {
  max-width: 1024px;
  margin: auto;
  background-color: oldlace;
  height: 100%;
  padding: 12px;
}

.row {
  min-height: 520px;
  &:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
  }
}

#sidebar {
  display: inline-block;
  float: left;
  width: calc(18% - 12px);
  height: 100%;
  padding: 4px;
}

#main-panel {
  display: inline-block;
  float: left;
  width: calc(82% - 12px);
  border-right: 2px solid border-color;
  padding: 4px;
}

.die {
  height: 3em;
  width: 3em;
  border: 1px solid black;
  margin: 3px;
  display: table-cell;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
}

.active-die {
  background-color: active-die-color;
}

.used-die {
  background-color: used-die-color;
}

.pip-row {
  display: inline-block;
}

.pips {
}

.pip {
  display: inline-flex;
  height: 200px;
  width: 45px;
  border: 1px solid black;
  -webkit-user-select: none;
  vertical-align: top;
}

.pip.red {
  background-color: dark-pip-color;
}

.pip.white {
  background-color: white;
}

.bar {
  padding: 0px 20px;
  display: inline-block;
  position: relative;
  top: 20px;
}

.pips {
  display: inline-block;
}

.btn {
  padding: 4px;
  background-color: chocolate;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: peru;
}
